*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

body{
    background: rgb(164, 210, 253);
}

.wrapper{
    display: flex;
}

.sidebar{
    /* position: fixed; */
    min-width: 130px;
    height: 2600px;
    background: black;
    padding: 20px 0;
}

.sidebar h2{
    color: white;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
    list-style: none;
    text-decoration: none;
}

.sidebar ul li a{
    color: white;
    display: block;
    text-decoration: none;
}

.sidebar ul li:hover{
    background: rgb(116, 118, 122);
}


